# top-most EditorConfig file
root = true

[{*.*sh,bash-template*,genbash}]
indent_style = tab
tab_width    = 2

shell_variant      = bash
binary_next_line   = false # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = false # like -kp
end_of_line        = lf
charset            = utf8
trim_trailing_whitespace = true
insert_final_newline     = false

[*.py]
indent_style = space
indent_size  = 4

[*]
end_of_line = lf

